<h2 class="text-center my-3">EDIT POST</h2>

{{>post-content post}}

<input type="text" id="edit-title" class="form-control w-50 mx-auto" placeholder="New Post Title..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
<div class="form-floating w-50 my-5 mx-auto">
  <textarea class="form-control " placeholder="Leave a comment here" id="edit-post-body" style="height: 100px"></textarea>
  <label class="text-muted" for="edit-post-body">New Post Body...</label>
</div>

<div class="text-center">
  <button class="btn btn-small mx-4 my-3 btn-info fw-bold" id="submit-edit-btn">SUBMIT!</button>  
</div>

<script src="/JS/submit-edit.js"></script>