<div class="d-flex justify-content-evenly">
    <div class="text-center my-3 flex-fill border-end border-3 border-dark">
        <h2 class="text-center mb-4"><u>LOGIN</u></h2>

        <div class="input-group w-50 mx-auto mb-5">
            <span class="input-group-text text-light bg-dark fw-bold" id="inputGroup-sizing-default">Email</span>
            <input type="email" id="email-form" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group w-50 mx-auto mb-5">
            <span class="input-group-text text-light bg-dark fw-bold" id="inputGroup-sizing-default">Password</span>
            <input type="password" id="password-form" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <button type="button" id="log-in" class="btn btn-info mx-auto text-dark fw-bold">LOG IN</button> 
    </div>


    <div class="text-center my-3 flex-fill">
        <h2 class="text-center mb-4"><u>SIGN UP</u></h2>

        <div class="input-group w-50 mx-auto mb-5">
            <span class="input-group-text text-light bg-dark fw-bold" id="inputGroup-sizing-default">Username</span>
            <input type="text" id="new-user" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group w-50 mx-auto mb-5">
            <span class="input-group-text text-light bg-dark fw-bold" id="inputGroup-sizing-default">Email</span>
            <input type="email" id="new-email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group w-50 mx-auto mb-5">
            <span class="input-group-text text-light bg-dark fw-bold" id="inputGroup-sizing-default">Password</span>
            <input type="password" id="new-password" class="form-control" placeholder="Must be at least 8 characters" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <button type="button" id="sign-up" class="btn btn-info mx-auto text-dark fw-bold">SIGN UP</button>
    </div>
</div>

<script src="/JS/login.js"></script>
{{!-- <script src="/JS/l.js"></script> --}}

